.footer {
  width: 100%;

  background-color: #232323;
  height: 40px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  &_top {
    display: flex;
    align-items: center;
    img {
      max-height: 30px;
      margin: 0 10px;
    }
    p {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
