.categories__container {
  padding: 10px;
  margin: 30px 0;

  display: grid;
  gap: 20px;

  justify-content: center;

  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 180px);
  grid-template-areas:
    'item__1 item__1 item__4 item__5 '
    'item__2 item__3 item__3 item__5  ';

    .item {
      &__1 {
        grid-area: item__1;
        color: #057d0f;
        background: linear-gradient(-45deg, #ed193b, #fc0000, #e34b0a, #aa8c07);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        h1{
          color: rgb(245, 242, 242);
        }
      }
      
      &__2 {
        grid-area: item__2;
        background: linear-gradient(-45deg, #0b74ec, #1969d1, #13d8d8, #1d487a);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        h1{
          color: rgb(245, 242, 242);

        }
      }
      &__3 {
        grid-area: item__3;
        background: linear-gradient(-45deg, #0fe681, #057d0f, #1dcc06, #07893b);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
    
        display: grid;
        place-items: end;
        h1{
          color: rgb(245, 242, 242);

        }
      }
      &__4 {
        grid-area: item__4;
        background: linear-gradient(-45deg, #810e9e, #965cbc, #f286e2, #681d7a);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        h1{
          color: rgb(245, 242, 242);

        }
      }
      &__5 {
        grid-area: item__5;
        background: linear-gradient(-45deg, #67209d, #3027ac, #4883d5, #681d7a);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
        h1{
          color: rgb(245, 242, 242);

        }
      }
    }

    [class^='item__'] {
      border-radius: 10px;
      padding: 10px;
    
      text-decoration: none;
      color: black;
    
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    }
    
    [class^='item__']:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

[class^='item__'] {
  text-decoration: none;
  color: black;
}

.category__page__main {
  display: grid;
  padding: 10px;
  gap: 20px;

  justify-content: center;

  grid-template-columns: 20% 1fr;

  .sidebar {
    width: 20;
  }

  .content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: auto;
    .record__item {
    }
  }
}

 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}